<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Placeholder Title</title>
  
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>

<body>
    <select id="selLeague" onchange="selLeagueChange(this.value)"></select>
    <select id="selTeam" onchange="selTeamChange()"></select>
    <select id="selPosition" onchange="selPositionChange()"></select>
    <ul id="foundPlayers"></ul>
    <img id="playerPhoto">
    <div>
        <h5 id="playerNumber"></h5>
        <h5 id="playerBirthdate"></h5>
        <h5 id="playerHeight"></h5>
        <h5 id="playerWeight"></h5>
        <h5 id="playerNationality"></h5>
    </div>

    <!-- D3 JavaScript -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- Our JavaScript -->
    <script type="text/javascript" src="static/js/logic.js"></script>

</body>

</html>